@model App.Web.Models.RegisterViewModel
@{
	Layout = "~/Views/Shared/_PublicLayout.cshtml";
	ViewBag.Title = "Register";
}

<div class="row">
	<div class="container">
		<div class="wrapper">

			<!-- contact-form-->
			@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "registration-form", @class = "form contact-form alt clearfix registration-form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				@Html.LabelFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
				@Html.EditorFor(model => model.Email)
				<br />

					@Html.LabelFor(model => model.Password)
					@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.Password)
					<br />

					@Html.LabelFor(model => model.ConfirmPassword)
					@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.ConfirmPassword)
					<br />

					@Html.LabelFor(model => model.FirstName)
					@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.FirstName)
					<br />

					@Html.LabelFor(model => model.LastName)
					@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
					@Html.EditorFor(model => model.LastName)
					<br />

					<button type="submit" class="cws-button alt full-width" style="margin-top:40px;">
						Register
					</button>
			}
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
