@using App.Web.Models;
@using Utilities.Paging;
@model IEnumerable<EmployeeViewModel>

@{
	ViewBag.Title = "Employee Arrival Reporting";
}

<div class="container page-wrapper">
	@*<div class="row">
		<div class="col-md-12 text-right">
			<h4>Filter by:</h4>
			<div class="filter-type">
				<input type="radio" id="firstname-radio" name="filter-type" value="firstname">
				<label for="firstname-radio">First name</label>

				<input type="radio" id="surname-radio" name="filter-type" value="surname">
				<label for="surname-radio">Surname</label>

				<input type="radio" id="email-radio" name="filter-type" value="email">
				<label for="email-radio">Email</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6 text-right">
			<input type="text" name="filterValue" value="" />
			<a class="cws-button alt">Filter</a>
		</div>
	</div>*@
	<div class="row mt-30">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th><i class="fa fa-arrow-up"></i><a href="#">First name</a></th>
						<th>Surname</th>
						<th>Age</th>
						<th>Email</th>
						<th>Teams</th>
						<th>Manager</th>
						<th>Role</th>
						<th>Reports</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var employee in Model)
					{
						<tr>
							<td><a href="@Url.Action("Details", "Employees", new { id = employee.Id })">@employee.Name</a></td>
							<td><a href="@Url.Action("Details", "Employees", new { id = employee.Id })">@employee.Surname</a></td>
							<td><a href="@Url.Action("Details", "Employees", new { id = employee.Id })">@employee.Age</a></td>
							<td><a href="@Url.Action("Details", "Employees", new { id = employee.Id })">@employee.Email</a></td>
							<td>@employee.Teams</td>
							<td><a href="@Url.Action("Details", "Employees", new { id = employee.ManagerId })">@employee.ManagerName</a></td>
							<td><a href="@Url.Action("Details", "Employees", new { id = employee.RoleId })">@employee.RoleName</a></td>
							<td>@employee.ReportsCount</td>
						</tr>
					}

					@*<tr>
						<td>1</td>
						<td>Dobromir</td>
						<td>Ivanov</td>
						<td>29</td>
						<td>dobromirivanov1@gmail.com</td>
						<td>Sales, Platform, Billing</td>
						<td>Ivan Ivanov</td>
						<td>Software Developer</td>
						<td>154</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Dobromir</td>
						<td>Ivanov</td>
						<td>29</td>
						<td>dobromirivanov1@gmail.com</td>
						<td>Sales, Platform, Billing</td>
						<td>Ivan Ivanov</td>
						<td>Software Developer</td>
						<td>154</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Dobromir</td>
						<td>Ivanov</td>
						<td>29</td>
						<td>dobromirivanov1@gmail.com</td>
						<td>Sales, Platform, Billing</td>
						<td>Ivan Ivanov</td>
						<td>Software Developer</td>
						<td>154</td>
					</tr>*@
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12">
					@Html.Partial("_Pager", ViewBag.PagingData as PagingData)
				</div>
			</div>
		</div>
	</div>
</div>


@section scripts {
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

	<script>
		function subscribeFail(data) {
		}

		function subscribeSuccess(data) {

		}

		function subscribeBegin() {
		}
	</script>
}